/* 
header, body, footer {
    background-color: rgb(245, 156, 200);
}

header, h1, title, section2, footer {
    text-align: center;
}

header {
    color: black;
}

header:hover{
    color:white;
}

h1 {
    text-sty
}

title {}
 
section {
    text-align: 
}

img {
    display: block;
    width: 20%;
    margin: 0 auto;
}

p {}


footer {
    text-align: center;
    
} */
